#!/bin/sh
ssh-keygen -t rsa
ssh-copy-id {{ LOCALUSER }}@{{ REMOTEIP }}
sudo  penssl genrsa -out /etc/csync2_ssl_key.pem 1024
sudo openssl req -new -key /etc/csync2_ssl_key.pem -out /etc/csync2_ssl_cert.csr
sudo openssl x509 -req -days 600 -in /etc/csync2_ssl_cert.csr -signkey /etc/csync2_ssl_key.pem -out /etc/csync2_ssl_cert.pem
sudo csync2 -k /etc/csync2.key
sudo chmod 644 /etc/csync2.key
#service openbsd-inetd restart
#service incron restart
