<?php
$AUTOCONFIG = array(
  "dbtype"        => "mysql",
  "dbname"        => "{{ DBNAME }}",
  "dbuser"        => "root",
  "dbpass"        => "{{ MYSQLPASS }}",
  "dbhost"        => "localhost",
  "dbtableprefix" => "oc_",
  "adminlogin"    => "admin",
  "adminpass"     => "{{ ADMINPASS }}",
  "directory"     => "/var/data",
);
